# Python-bestanden
__pycache__/
*.pyc
*.pyo
*.log
log.txt

# Virtual environment
.venv/

# PyCharm IDE
.idea/

# CSV- en exportbestanden
exports/
*.csv

# Backups
Backups/
backup-restore

#Positions en acccountdata
tomic/data/account_info.json
tomic/cli/account_info.json
tomic/data/positions.json
tomic/cli/positions.json
journal.json
config.yaml
.env
