version: 1
strategy_type: iron_condor
symbols:
- AAPL
- ABBV
- ACHR
- ACN
- ADBE
- AFRM
- AMAT
- AMD
- AMGN
- AMT
- AMZN
- ANET
- APP
- ARKK
- ARM
- ASTS
- AVGO
- AXP
- BA
- BABA
- BAC
- BE
- BIDU
- BYND
- C
- CMG
- COIN
- CRM
- CRWD
- CVS
- DAL
- DDOG
- DE
- DELL
- ENPH
- EWZ
- GME
- INTC
- LULU
- MDB
- MRNA
- MRVL
- MU
- NFLX
- NKE
- ORCL
- PFE
- SCHW
- DKNG
- FDX
- NET
- RIVN
- ROKU
- SNAP
- SQ
- UAL
- XBI
- XLV
start_date: '2019-01-01'
end_date: '2025-11-30'
target_dte: 45
entry_rules:
  iv_percentile_min: 60.0
  iv_rank_min: null
  iv_percentile_max: null
  iv_rank_max: null
  skew_min: null
  skew_max: null
  term_structure_min: null
  term_structure_max: null
  iv_hv_spread_min: null
  dte_min: null
  dte_max: null
  min_days_until_earnings: 10
  exclude_expiry_before_earnings: true
exit_rules:
  profit_target_pct: 50.0
  stop_loss_pct: 100.0
  min_dte: 5
  max_days_in_trade: 45
  iv_collapse_threshold: 10.0
  delta_breach_threshold: 20.0
position_sizing:
  type: fixed_risk
  max_risk_per_trade: 200.0
  max_positions_per_symbol: 1
  max_total_positions: 10
sample_split:
  in_sample_ratio: 0.3
  method: chronological
costs:
  commission_per_contract: 1.0
  slippage_pct: 5.0
iron_condor_wing_width: 5
iron_condor_short_delta: 0.16
calendar_near_dte: 37
calendar_far_dte: 75
calendar_min_gap: 30
use_greeks_model: true
use_real_prices: true
