version: 1
strategy_type: iron_condor
symbols:
- TSLA
start_date: '2019-01-01'
end_date: '2025-11-30'
target_dte: 45
entry_rules:
  iv_percentile_min: 60.0
  iv_rank_min: null
  skew_min: null
  skew_max: null
  term_structure_min: null
  term_structure_max: null
  iv_hv_spread_min: null
  dte_min: null
  dte_max: null
exit_rules:
  profit_target_pct: 50.0
  stop_loss_pct: 100.0
  min_dte: 5
  max_days_in_trade: 45
  iv_collapse_threshold: 10.0
  delta_breach_threshold: 20.0
position_sizing:
  type: fixed_risk
  max_risk_per_trade: 200.0
  max_positions_per_symbol: 1
  max_total_positions: 10
sample_split:
  in_sample_ratio: 0.3
  method: chronological
costs:
  commission_per_contract: 1.0
  slippage_pct: 5.0
iron_condor_wing_width: 5
iron_condor_short_delta: 0.16
use_greeks_model: false
