default:
  min_risk_reward: 2.0
  allow_unpriced_wings: false
  exclude_expiry_before_earnings: false
  min_days_until_earnings: 0
  strike_to_strategy_config:
    use_ATR: true
    wing_sigma_multiple: 1.0
    long_leg_distance_points: 0.1
strategies:
  iron_condor:
    allow_unpriced_wings: true
    exclude_expiry_before_earnings: true
    min_days_until_earnings: 14
    min_rom: 0.5
    min_edge: 0.04
    min_pos: 0.7
    min_ev: 0.03
    min_risk_reward: 1.5
    strike_to_strategy_config:
      short_call_delta_range:
      - 0.1
      - 0.4
      short_put_delta_range:
      - -0.4
      - -0.1
      wing_sigma_multiple: 1.0
      min_wing_width_atr: 2.0
      use_ATR: true
      long_wing_strike_tolerance_percent: 5.0
  atm_iron_butterfly:
    allow_unpriced_wings: true
    exclude_expiry_before_earnings: true
    min_days_until_earnings: 30
    min_rom: 1.0
    min_edge: 0.1
    min_pos: 0.6
    min_ev: 0.05
    strike_to_strategy_config:
      center_strike_relative_to_spot:
      - 0
      wing_sigma_multiple: 0.5
      min_wing_width_atr: 2.0
      use_ATR: true
  short_put_spread:
    allow_unpriced_wings: false
    exclude_expiry_before_earnings: true
    strike_to_strategy_config:
      short_put_delta_range:
      - -0.35
      - -0.2
      long_leg_distance_points: -0.05
      use_ATR: true
  short_call_spread:
    min_risk_reward: 0.6
    allow_unpriced_wings: false
    exclude_expiry_before_earnings: true
    strike_to_strategy_config:
      short_call_delta_range:
      - 0.15
      - 0.35
      long_leg_distance_points: 0.05
      use_ATR: true
  naked_put:
    allow_unpriced_wings: false
    strike_to_strategy_config:
      short_put_delta_range:
      - -0.3
      - -0.2
      use_ATR: true
  calendar:
    allow_unpriced_wings: false
    min_rom: 0.3
    min_edge: 0.04
    min_pos: 0.5
    min_ev: 0.03
    strike_to_strategy_config:
      use_ATR: false
      base_strikes_relative_to_spot:
      - 0.97
      - 0.98
      - 0.99
      - 1
      - 1.01
      - 1.02
      - 1.03
      expiry_gap_min_days: 7
  ratio_spread:
    allow_unpriced_wings: false
    strike_to_strategy_config:
      short_leg_delta_range:
      - 0.25
      - 0.45
      long_leg_distance_points: 0.1
      use_ATR: true
  backspread_put:
    min_risk_reward: 0.6
    allow_unpriced_wings: false
    strike_to_strategy_config:
      short_put_delta_range:
      - 0.1
      - 0.25
      long_leg_distance_points: -0.05
      use_ATR: true
